<article class="post">
  {{ content }}
</article>

<!-- Giscus comments -->
<section class="comments">
  <script src="https://giscus.app/client.js"
          data-repo="tetheredlab/site"
          data-repo-id="R_kgD0Pk6F8g"
          data-category="Comments"
          data-category-id="DIC_kwD0Pk6F8s4CupRU"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</section>
